
{% extends "base.html" %}

{%block style%}
{{block.super}}
<style type="text/css">
  .submit{
    position: relative;
    bottom: 0;
  }
  </style>
{%endblock%}
{%block script%}
{{block.super}}
<script>

function goBack() {
    window.history.back();
}
</script>
{%endblock%}
{% block body %}
	

    {% if requestsdeleted  %}
    <p> Of Requests you selected these requests have been deleted.<br></p>
      {% csrf_token %}
      <table id="confirmedlogs" class="tables">
        <tr>
          <th>Book-Name</th>
          <th>Issuers</th>
          <th>Request-date</th>
        </tr>
     {% for x in requestsdeleted %}
         <tr>
            <td>
                {{x.book.title}}
            </td>
            <td>
                {{ x.user }}
            </td>
            <td>
                {{x.date}}
            </td>
        </tr>
      {% endfor %}
      </table>
   {% else %} 
    <p>Sorry none of the requests could be completed.</p>
  {% endif %}

{% endblock %}
