{% extends "admin/base_site.html" %}




{%block style%}
{{block.super}}
<style type="text/css">
  .submit{
    position: relative;
    bottom: 0;
  }
  </style>
{%endblock%}
{%block script%}
{{block.super}}
<script>

function gohome() {
    window.location="/admin/rtoi/";
}

</script>
{%endblock%}

{% block content %}

    <form action="/admin/rtoi/done/" method="post">
      {% csrf_token %}
      {%if booksissued %}
        <table id="confirmedlogs" class="tables">
          <tr>
            <th>Id</th>
            <th>Book-Name</th>
            <th>Issuers</th>
            <th>Request-date</th>
          </tr>
         {% for x in booksissued %}
             <tr>
                <td>
                 <p> <input type="hidden" name="booksconfirmed[]" value="{{x.pk}}" /> {{x.pk}}</p>
                </td>
                <td>
                    {{x.book.title}}
                </td>
                <td>
                    {{ x.user }}
                </td>
                <td>
                    {{x.date}}
                </td>
            </tr>
          {% endfor %}
        </table>
        <input class="Submit"  type="submit" value="Issue">
      {%endif%}

      {% if booksnotissued %}
      <h2>
        Following request have issue. Look into the matter.
      </h2>
        <table id="errorlogs" class="tables">
        <tr>
          <th>Id</th>
          <th>Book-Name</th>
          <th>Issuers</th>
          <th>Request-date</th>
        </tr>
     {% for x in booksnotissued %}
         <tr>
            <td>
             <p> <input type="hidden" name="booksnotconfirmed[]" value="{{x.pk}}" /> {{x.pk}}</p>
            </td>
            <td>
                {{x.book.title}}
            </td>
            <td>
                {{ x.user }}
            </td>
            <td>
                {{x.date}}
            </td>
        </tr>
      {% endfor %}
      </table>
      {%endif%}


    
    </form> 

    <button class="Submit" onclick="gohome()">Go Home</button>

    {% block extra%}
         <p>{{ ecomment }}</p>

{% endblock %}
  	




{% endblock %}

