{% extends "admin/base_site.html" %}


{%block style%}
{{block.super}}
<style type="text/css">
  .submit{
    position: relative;
    bottom: 0;
  }
  #issyelogs{
    position: :relative;
    top: 0;
  }
  </style>
{%endblock%}
{%block script%}
{{block.super}}
<script>

function goBack() {
    window.history.back();
}

</script>
{%endblock%}


{% block content %}

    <form action="/admin/rtoi/confirm/" method="post">
      {% csrf_token %}
      <table id="issuelogs">
        <tr>
          <th>Id</th>
          <th>Book-Name</th>
          <th>Issuers</th>
          <th>Request-date</th>
        </tr>
     {% for x in requests %}
         <tr>
            <td>
             <p> <input type="checkbox" name="requestlog[]" value= "{{x.pk}}" /> {{x.pk}}</p>
            </td>
            <td>
                {{x.book.title}}
            </td>
            <td>
                {{ x.user }}
            </td>
            <td>
                {{x.date}}
            </td>
        </tr>
      {% endfor %}

    <input class="Submit"  type="submit" value=" Issue">
    </form> 


    {% block extra%}
         <p>{{ ecomment }}</p>

{% endblock %}
  	
</table>



{% endblock %}

