{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ 'Library Portal' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ 'Library Portal Admin' }}</a></h1>

{% endblock %}

{% block nav-global %}
<style type="text/css">

  ul live {
      list-style-type: block;
      margin: 0;
      padding: 0;
      overflow: auto;
  }

  li {
    float: left;
  }

  li a {
    display: auto;
    padding: 8px;
}


</style>

<div  >
  <ul id="live" class="spritesnav" > 
    <li id="Issuelog"  class="active"><a href="/admin/rtoi/">Request log</a></li> 
    <li id="ReturnLog" class="active"><a href="/admin/itor/">Return Log</a></li> 
  </ul>
  </div> 
{% endblock %}


{% block content %}
{{block.super}}



{%endblock%}
