{% extends "base.html" %}

{% block title %}
    WelCome to Your Library Portal
{% endblock %}

{% block body %}
	<h1>Welcome to Library Portal</h1>
	<h2>An automated portal to simplify your librarial activities.</h2>
	 <form action="/login/" method="post">
	{% csrf_token %}
	<input type="text"  name="username" id="username" placeholder="LDAP Username">
	<input type="password" class="form-control" id="password" name="passwd" placeholder="LDAP Password">
	<button type="submit" class="btn btn-default" value="Log In">Submit</button>
	</form>
{% endblock %}
{%block extra%}
<p>{{ecomment}}</p>
{%endblock%}

