<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>
	

    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="{% static 'auth/css/bootstrap.css' %}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{% static 'auth/css/main.css' %}" rel="stylesheet">
        <link href="netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="{% static 'css/chat.css' %}" rel="stylesheet">
        {% block csslinks %} {% endblock %}

    </head>

    <body>
         <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Library Portal</a><br>
              <a class="logout-brand" href="/logout">Sign Out</a><br>
              <a href="{{ 'login'  }}?next={% firstof request.path 'home' %}">Login</a>
              
              
            </div>
            </div><!--/.nav-collapse -->
          </div>
        </nav>


{% block user %}
{% if  request.user.username  %}
<p>Dear	{{ request.user.username }}<br> </p>
{%else%}
<p>Dear AnonyMous User</p>
{%endif%}

{%endblock%}
			<input type="hidden" name="next" value="{{ next }}">
         {% block body %}{% endblock %}
         
         {% block extra%}
         
         {%endblock%}
    </body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript">
        $('#brodal').modal({
          backdrop: 'static',
          keyboard: false,
          show: false
        });
    </script>
    {% block jslinks %} {% endblock %}
</html>